@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --dark-background-color: #2f303a;
  --filters-background-color: #f5f4fa;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

.container--header {
  display: flex;
  justify-content: flex-start;
  height: 80px;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--header {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.container--hero {
  padding-top: 200px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--hero {
    padding-top: 118px;
    width: 480px;
    height: 400px;
  }
}

.container--advantages {
  margin-bottom: 94px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--advantages {
    width: auto;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--team {
    width: auto;
    display: block;
  }
}

.container--clients {
  width: auto;
}

.container--footer {
  display: flex;
  padding-top: 60px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container--footer {
    display: block;
  }
}

ul {
  list-style: none;
}

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  header {
    height: 60px;
  }
}

/*site-nav*/
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav-list {
  display: flex;
  padding-left: 0px;
}

.site-nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list__link {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--secondary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms;
}

.site-nav-list__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  position: absolute;
  bottom: 0;
}

.site-nav-list__link:hover, .site-nav-list__link:focus, .site-nav-list__link.current {
  color: var(--accent-text-color);
}

.site-nav-list__item {
  position: relative;
}

/*contacts*/
.contacts {
  display: flex;
  padding-left: 0px;
  margin: 0px 0px 0px auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

.contacts__link {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms;
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 30px;
}

.contacts__link:hover, .contacts__link:focus,
.contacts__link:hover .contacts__icon-mail,
.contacts__link:focus .contacts__icon-mail,
.contacts__link:hover .contacts__icon-tel,
.contacts__link:focus .contacts__icon-tel {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
  transition: var(--cubic);
}

.contacts__icon-mail, .contacts__icon-tel {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms;
}

/*Лого хедер*/
.logo {
  display: inline-block;
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-left: 0px;
  font-family: Raleway, sans-serif;
  color: #000000;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__web {
  color: var(--accent-text-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.174;
    margin: 0;
  }
}

/*Лого футер*/
.address__logo {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 0px;
  color: var(--white-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address__logo {
    margin-right: auto;
    margin-left: auto;
    line-height: 1.174;
  }
}

/*hero*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  color: var(--white-color);
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    width: 480px;
    height: 400px;
    background-image: url("../images/header-mobile.jpg");
    background-size: contain;
  }
}

.hero__title {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto 30px;
  max-width: 696px;
  height: 120px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.615;
    padding: 0;
    height: auto;
    width: 360px;
  }
}

/*Кнопка Героя*/
.hero__button {
  display: block;
  padding: 10px 30px;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  transform: var(--cubic);
}

/*Кнопка в футере*/
.sign-form__button {
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
  color: var(--white-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sign-form__button {
    margin: 0 auto 60px;
  }
}

.sign-form__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

/*Кнопка портфолио*/
.filters-list__button {
  text-align: center;
  height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
  color: var(--secondary-text-color);
  background-color: var(--filters-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  box-shadow: none;
  transition: color 250ms, background-color 250ms, box-shadow 250ms;
}

.filters-list__button:hover, .filters-list__button:focus, .filters-list__button--current {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  box-shadow: 0 2px rgba(0, 0, 0, 0.12), 0 1px rgba(0, 0, 0, 0.08), 0 3px rgba(0, 0, 0, 0.1);
  transform: var(--cubic);
}

.button.current {
  width: auto;
  height: 38px;
  padding: 6px 22px;
  border: 0px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 00.03em;
}

/*Кнопки модального окна*/
.modal__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  background-color: var(--white-color);
}

.modal__button:hover, .modal__button:focus {
  fill: var(--accent-text-color);
}

.modal__submit-button {
  background-color: var(--accent-text-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*advantages*/
.advantages-list__title {
  display: inline-block;
  text-align: left;
  width: 270px;
  height: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list__title {
    width: 100%;
    text-align: center;
  }
}

.advantages-list {
  display: flex;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
  padding-left: 0px;
  padding-top: 94px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list {
    padding-top: 60px;
    width: 480px;
    display: block;
    margin: 0 0 60px 0;
  }
}

.advantages-list__icon {
  width: 270px;
  height: 120px;
  background-color: var(--filters-background-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list__icon {
    width: auto;
  }
}

.advantages-list__text {
  width: 270px;
  height: 75px;
  margin: 0px;
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list__text {
    width: 100%;
    text-align: left;
    height: auto;
    margin-bottom: 30px;
  }
}

.advantages-list__item:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages-list__item:not(:last-child) {
    margin-right: 0;
  }
}

/*sevices*/
.services__title {
  text-align: center;
  width: 376px;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 0px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
}

.services__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 94px;
  padding: 0px;
}

.services__item {
  margin-right: 30px;
  padding: 0px;
  width: 370px;
  height: 294px;
  position: relative;
}

.services__item:last-child {
  margin-right: 0px;
}

.services__image {
  height: 294px;
  width: 370px;
}

.label {
  position: relative;
}

.label::before {
  content: "";
  display: inline-block;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
}

.label p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 00.03em;
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  margin: 0;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .services {
    display: none;
  }
}

/*team*/
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
}

.team__member-name {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__member-name {
    line-height: 1.171;
  }
}

.team__item {
  width: 270px;
  margin-right: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--white-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item {
    width: 450px;
    padding-bottom: 24px;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.team__title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}

.team__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 94px;
  padding-left: 0px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__list {
    display: block;
    padding-bottom: 60px;
  }
}

.team__member-photo {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__member-photo {
    width: 450px;
    height: 460px;
  }
}

.team__member-profession {
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__member-profession {
    line-height: 1.171;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team {
    padding-top: 60px;
  }
}

/*Список соц-сетей в секции Команда*/
.social-links {
  display: flex;
  padding-left: 0px;
  justify-content: center;
}

.social-links__icon {
  fill: #afb1b8;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: block;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms;
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--white-color);
}

.social-links__link__link:hover, .social-links__link__link:focus {
  background-color: var(--accent-text-color);
  transform: var(--cubic);
}

/*Список соц-сетей в Футере*/
.social-links {
  margin: 0;
}

.social-links__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms;
}

.social-links__icon-footer {
  fill: var(--white-color);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-text-color);
  transform: var(--cubic);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .social-links {
    margin-bottom: 60px;
  }
}

.clients {
  padding-top: 94px;
}

.clients__title {
  margin: 0 auto 50px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__title {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

.clients__list {
  display: flex;
  margin-top: 0;
  margin: 0 auto 94px;
  padding-left: 0;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
  }
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms;
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
  transform: var(--cubic);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__link {
    margin: 15px;
  }
}

.clients__item:last-child {
  margin-right: 0;
}

/*footer*/
footer {
  background-color: var(--dark-background-color);
  color: var(--white-color);
}

.footer-contacts {
  margin-right: 70px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-contacts {
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.connect__title,
.sign-form__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  margin-bottom: 20px;
  margin-top: 12px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .connect__title {
    text-align: center;
    font-size: 16px;
  }
}

.address__link {
  text-align: left;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  transition: color 250ms;
}

.address__post-address {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 14px;
}

.address,
.address__item--style {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
}

.address__list {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address__list {
    padding-left: 0;
  }
}

.address__item {
  margin-bottom: 9px;
  color: var(--white-color);
  display: inline-block;
  min-width: 100%;
}

.address__item--style:hover, .address__item--style:focus {
  color: var(--accent-text-color);
  transform: var(--cubic);
}

.address__item:last-child {
  margin-bottom: 0px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address__item:last-child {
    padding-bottom: 0;
  }
}

.address__item--style {
  text-align: left;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  transition: color 250ms;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .address__item {
    text-align: center;
    line-height: 1.714;
  }
}

.sign-form {
  margin-left: 93px;
}

.sign-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 358px;
  min-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: inherit;
  padding-left: 16px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sign-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

.sign-form__block {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sign-form__block {
    display: block;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sign-form {
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

/*filters portfolio*/
.filters-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.filters-list__item {
  margin-right: 8px;
}

.filters-list__item:last-child {
  margin-right: 0px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: var(--primary-text-color);
  margin-bottom: 94px;
}

.portfolio__image {
  width: 370px;
  height: 294px;
}

.portfolio__title {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 24px;
  margin-right: 24px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__description {
  text-align: left;
  font-size: 16px;
  line-height: 1.88;
  margin: 4px 24px 20px;
}

.portfolio__text {
  position: absolute;
  content: "";
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  transition: bottom 250ms;
}

.portfolio__link {
  display: inline-block;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  text-decoration: none;
  color: inherit;
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.portfolio__item {
  background-color: var(--white-color);
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio__item:hover .portfolio__text {
  bottom: 0;
  transform: var(--cubic);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal__form-field {
  padding: 40px;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
}

.modal__title {
  font-size: 20px;
  line-height: 1.172;
  color: var(--secondary-text-color);
  text-transform: none;
  text-align: center;
  margin: 0 auto 12px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.modal__input {
  min-width: 448px;
  min-height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms;
  outline: none;
  transition: border-color 250ms;
}

.modal__input:focus, .modal__textarea:focus {
  border-color: var(--accent-text-color);
  transform: var(--cubic);
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-text-color);
}

.modal__textarea {
  min-width: 448px;
  min-height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__field-input {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__field-input:focus + .modal__input {
  border: 1px solid var(--accent-text-color);
  transform: var(--cubic);
  background-color: var(--accent-text-color);
}

.modal__customer-accept {
  display: block;
  align-items: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  position: relative;
}

.modal__accept-text {
  color: var(--primary-text-color);
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.modal__check-icon {
  display: block;
  background-color: var(--white-color);
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
  transition: background-color 250ms;
}

.modal__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.modal__accept-link {
  color: var(--accent-text-color);
  margin: 0 0 0 3px;
}

.modal__accept {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__accept:checked + .modal__check-icon {
  background-color: var(--accent-text-color);
  background-origin: border-box;
  border-color: var(--accent-text-color);
  transform: var(--cubic);
}
/*# sourceMappingURL=main.css.map */