/*footer*/
footer {
  background-color: var(--dark-background-color);
  color: var(--white-color);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width:1200px) {
    width: 1600px;
    height: 252px;
  }
}

.footer-contacts {
    margin: 0 auto 60px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width:1200px) {
    display: flex;
    margin: 0;
    padding-top: 0;
    margin-right: 70px;
  
  }
}

.connect {
  width: 100%;
  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
  }
 
  @media screen and (min-width:1200px) {
    display: flex;
    margin-right: 93px;

  }
}

.connect__title,
.sign-form__title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-bottom: 20px;
    margin-top: 12px;
    letter-spacing: 0.03em;
  }

.connect__title {
    text-align: center;
    font-size: 16px;
}

.address__link {
    text-align: left;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    transition: color 250ms;
    @media screen and (min-width:1200px) {
      display: flex;
      align-items: flex-start;
    }
  
}

.address__post-address {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 14px;
  display: block;
  margin-right: auto;
  margin-left: auto;
 
}

.address,
.address__item--style {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;

  @media screen and (min-width:1200px) {
    text-align: left;
  }
  @media screen and (min-width:1200px) {
    text-align: left;
  }

}

.address__list {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0;
}

.address__item {
  margin-bottom: 9px;
  color: var(--white-color);
  min-width: 100%;
 
  
  @media screen and (min-width:1200px) {
    text-align: left;
  }

    &--style:hover,
    &--style:focus {
      color: var(--accent-text-color);
      transform: var(--cubic);
  }

    &:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;

      // @media screen and (min-width: 480px) {
      //   padding-bottom: 60px;
      // }
    } 

    &--style {
      text-align: center;
      text-decoration: none;
      color: inherit;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      transition: color 250ms;
    } 

    // @media screen and (min-width: 480px) {
    //   text-align: left;
    // }
}

.sign-form {
  margin-left: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: flex-start;
  }

  &__title {
    @media screen and(min-width: 1200px) {
      // display: flex;
      // justify-content: flex-start;
    }
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100%;
    min-height: 50px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background-color: inherit;
    padding-left: 16px;
    margin-bottom: 20px;

    
  @media screen and (min-width:1200px) {
   width: 358px;
   height: 50px;
   margin-right: 12px;
  }

    // @media screen and (min-width: 480px) { 
    //   min-width: 358px;
    // }
  }

  &__block {
    display: block;
    justify-content: center;
    width: 100%;

  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: row;
  }
   
    // @media screen and (min-width: 480px) {
    //   display: flex;
    // }
  }

  // @media screen and (min-width: 480px) {
  //   margin-left: 93px;
  // }
}