/*hero*/
.hero {
    width: 100%;
    height: 400px;
    margin-right: auto;
     margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/header-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
    color: var(--white-color);
    letter-spacing: 0.06em;

    @media screen and (min-width: 480px) {
      width: 480px;
      // background-size: contain;
    }

    @media  screen and (min-width: 768px) {
      width: 768px;
    }

    @media screen and (min-width: 1200px) {
      width: 1600px;
      height: 600px;
      background-image: url("../images/hero.jpg");
      background-size: cover;
    }
      
    &__title {
      text-align: center;   
      padding: 0;
      margin: 0 auto 30px;
      width: 360px;
      height: auto;
      font-size: 26px;
      font-weight: 900;
      line-height: 1.615;

      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        padding-right: 20px;
        padding-left: 20px;
        height: 120px;
        width: 696px;
      }
    }
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    padding-top: 48px;
    transform: translateX(100%);
    display: none;

    &.is-open {
      transform: translateX(0);
      display: block;
    }
  }
  
  .contacts--menu {
    margin-bottom: 64px;
  }

  .contacts__link--menu {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0.02;
  }

  .contacts__link--telephone {
    color: var(--accent-text-color);
    font-size: 34px;
  }

  .contacts__item--telephone {
    margin-bottom: 32px;
  }

  .socials-menu {
    display: flex;
    align-items: center;

    &__link {
      text-decoration: none;
      color: var(--accent-text-color);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.222;
      letter-spacing: 0.02em;
    }

    &__item:not(:last-child) {
      margin-right: 20px;
    }
  }

