/*Лого хедер*/
.logo {
    display: inline-block;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-family: Raleway, sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;

    &__web {
      color: var(--accent-text-color);
    }

    @media screen and (min-width: 480px) and (max-width: 767px)   {
      font-size: 24px;
      line-height: 1.174;
      margin: 0;
    }
  }
  
/*Лого футер*/
.address__logo {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 0px;
    color: var(--white-color);

    @media screen and (min-width: 480px) and (max-width: 767px)  {
     margin-right: auto;
     margin-left: auto;
     line-height: 1.174;
      
    }
}
