/*sevices*/
.services__title {
    text-align: center;
    width: 376px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 0px;
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.17;
  }
  
  .services__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 94px;
    padding: 0px;
  }
  
  .services__item {
    margin-right: 30px;
    padding: 0px;
    width: 370px;
    height: 294px;
    position: relative;

    &:last-child {
        margin-right: 0px;
      }
  }

.services__image {
    height: 294px;
    width: 370px;
  }

.label {
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        background-size: contain;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      
    & p {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 00.03em;
        text-transform: uppercase;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
        margin: 0;
      }
  }
  
 
  
 